<h1 class="text-center mt-4">Create a new Article </h1>

<%= render "form" %>

<div id="page-content">
    <div class="d-grid gap-2 d-md-flex justify-content-center">
   <td><%= link_to " Articlel Listing Page",  articles_path, class: "btn btn-outline-dark" %></td>
    </div>
    </div>


