<div id="page-content">

    <div class = "container" id="home-container">
        <div class="king text-secondary px-4 py-5 text-center text-white">
            <div class="py-5">
                <h1 class="display-5 fw-bold text-white"> Blog  </h1>
                <div class="col-lg-6 mx-auto">
                    <p class="fs-5 mb-4">This is the most beautiful Web-Site in the World !</p> <hr size="4px">
                    <p class="fs-5 mb-4">join us! for your bright future</p>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <button type="button" class="btn btn-success btn-lg"><td>About</td></button>
                    <%= link_to "Join us!", signup_path, class:"btn btn-success btn-lg px-4 me-sm-3 fw-bold" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
    <small>Copyright &copy; Parth ajudiya</small>
    </div>
</footer>
