<h1 class="text-center mt-4"> Edit Categories </h1>

<div class="row jusify-contenet-center mt-4">
 <div class="col-11">
    <div class="container">
      <div class="nested-fields">
        <%= render 'form'%>
          
    </div>
  </div>
</div>
